@import "tailwindcss";



/* ===== DESIFEST THEME ===== */
@theme {
  --color-neon-yellow: #EEFE08;
  --color-deep-purple: #453361;
  --color-coral-red: #ED4B59;
  --color-soft-lavender: #BCA6DF;
  --color-light-lavender: #C6B7DD;
  --color-off-white-lavender: #F5F1FB;
  --color-midnight-purple: #26193A;
  --color-pure-white: #FFFFFF;
  --color-glass-white: #FEFEFE1F;
  --color-blue-black: #100422 ;

}



/* Hide scrollbar but keep scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.dm-sans-300 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: light;
}
.dm-sans-500 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}
.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular ;
}

.oswald-heading {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 100px;
  line-height: 188.5px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
}
.oswald {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
